# Mobile App for Lottery Addiction

#### Table of Contents
* [Introduction](#1)
* [Core Functions](#2)
* [One-Ticket Probability](#3)
* [Historical Data for Canada Lottery](#4)
* [Historical Data Check Function](#5)
* [Multi-ticket Probability](#6)
* [Function for Less Winning Numbers](#7)
* [Function for At Least Winning](#8)
* [Conclusion](#9)

#### Introduction <a class='anchor' id='1'></a>

In this project, we look into the development of a mobile app that is meant to help lottery addicts better estimate their chances of winning.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

- What is the probability of winning the big prize with a single ticket?
- What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
- What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The dataset has data for 3,665 drawings, dating from 1982 to 2018.

The scenario we're following throughout this project is fictional — the main purpose is to practice applying the concepts we learned in a setting that simulates a real-world scenario.

#### Core Functions <a class='anchor' id='2'></a>

Throughout the project, we'll need to calculate repeatedly probabilities and combinations. As a consequence, we'll start by writing two functions that we'll use often:

- A function that calculates factorials; and
- A function that calculates combinations.

To calculate factorials, this is the formula we learned we need to use:
- n! = n x (n-1) x (n-2) x...x1

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. The drawing is done without replacement, which means once a number is drawn, it's not put back in the set.

To find the number of combinations when we're sampling without replacement and taking only k objects from a group of n objects, we can use the formula:
- nCk = (n,k) = n! / k!(n-k)!

In [1]:
#factorial function

def factorial(n):
    if n == 0 or n ==1:
        return 1
    else:
        return n*factorial(n-1)

factorial(5)

120

In [2]:
#combination function

def combinations(n,k):
    return factorial(n) / (factorial(k)*factorial(n-k))

combinations(3,2)

3.0

#### One-Ticket Probability <a class='anchor' id='3'></a>

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. A player wins the big prize if the six numbers on their tickets match all the six numbers drawn.

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

We need to be aware of the following details when we write the function:
- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.

The engineering team wants the function to print the probability value in a friendly way — in a way that people without any probability training are able to understand.

In [3]:
#create function to calculate probability of winning with given number combination
def one_ticket_probability(list):
    k = len(list)
    outcomes = combinations(49,k)
    probability = 100*(1/outcomes)
    return f"Your probability of winning the big-ticket with your {list} is {probability}%."

In [4]:
one_ticket_probability([1,2,3,4,5,7]) #Check that our function works

'Your probability of winning the big-ticket with your [1, 2, 3, 4, 5, 7] is 7.151123842018516e-06%.'

#### Historical Data for Canada Lottery <a class='anchor' id='4'></a>

For the first version of the app, however, users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

The data set contains historical data for 3,665 drawings (each row shows data for a single drawing), dating from 1982 to 2018. For each drawing, we can find the six numbers drawn in the following six columns:

NUMBER DRAWN 1-6

In [5]:
import pandas as pd

lottery = pd.read_csv("D:/DataQuest/lottery.csv")

In [6]:
lottery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          3665 non-null   int64
 1   DRAW NUMBER      3665 non-null   int64
 2   SEQUENCE NUMBER  3665 non-null   int64
 3   DRAW DATE        3665 non-null   object
 4   NUMBER DRAWN 1   3665 non-null   int64
 5   NUMBER DRAWN 2   3665 non-null   int64
 6   NUMBER DRAWN 3   3665 non-null   int64
 7   NUMBER DRAWN 4   3665 non-null   int64
 8   NUMBER DRAWN 5   3665 non-null   int64
 9   NUMBER DRAWN 6   3665 non-null   int64
 10  BONUS NUMBER     3665 non-null   int64
dtypes: int64(10), object(1)
memory usage: 315.1+ KB

In [7]:
lottery.isnull().sum()

PRODUCT            0
DRAW NUMBER        0
SEQUENCE NUMBER    0
DRAW DATE          0
NUMBER DRAWN 1     0
NUMBER DRAWN 2     0
NUMBER DRAWN 3     0
NUMBER DRAWN 4     0
NUMBER DRAWN 5     0
NUMBER DRAWN 6     0
BONUS NUMBER       0
dtype: int64

In [8]:
lottery.head(5)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [9]:
lottery.tail(5)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

The dataset is pre-cleaned. We can continue with our analysis.

#### Historical Data Check Function <a class='anchor' id='5'></a>

We're going to write a function that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

We need to be aware of the following details:
- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list and serve as an input to our function.

We want a function that prints:
- the number of times the combination selected occurred in the Canada data set; and
- the probability of winning the big prize in the next drawing with that combination.

We'll now start working on writing this function.

In [10]:
#Function to extract numbers from lottery dataframe
def extract_numbers(row):
    win_list = []
    for x in range(1,7):
        win_list.append(lottery.iloc[row,x+3])
    return win_list

extract_numbers(3663)

[2, 15, 21, 31, 38, 49]

In [14]:
lottery_index = lottery.reset_index()
lottery_index.head(3)

,index,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [18]:
#Apply to dataframe the extract numbers function

lottery["Win_combo"] = lottery_index['index'].apply(extract_numbers)
lottery['Win_combo'].head(5)

0    [3, 11, 12, 14, 41, 43]
1    [8, 33, 36, 37, 39, 41]
2     [1, 6, 23, 24, 27, 39]
3     [3, 9, 10, 13, 20, 43]
4    [5, 14, 21, 31, 34, 47]
Name: Win_combo, dtype: object

Now we will write a function that takes two inputs: a Python list containing the user numbers and a pandas Series containing sets with the winning numbers. Then, the function will return the number of times the combination has occurred in the past and the probability of winning with that combination based on historical data.

In [53]:
#Function to check against historical data
def check_historical_occurrence(user,past):
    win_count = 0
    user_set = set(user)
    for x in past:
        if set(x) == user_set:
            win_count += 1
    print(f"Your combination {user} has won {win_count} times prior.")

    probability = 100*(win_count / combinations(49,6))
    print(f"This combination has a {probability}% of winning.")

In [55]:
check_historical_occurrence([8, 33, 36, 37, 39, 41], lottery['Win_combo'])

Your combination [8, 33, 36, 37, 39, 41] has won 1 times prior.
This combination has a 7.151123842018516e-06% of winning.

In [64]:
check_historical_occurrence([5, 14, 21, 31, 34, 47], lottery['Win_combo']) #Our function is working.

Your combination [5, 14, 21, 31, 34, 47] has won 1 times prior.
This combination has a 7.151123842018516e-06% of winning.

#### Multi-ticket Probability <a class='anchor' id='6'></a>

We will write a new function to show us chances of winning with multiple tickets.

The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).

Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).

The function should print information about the probability of winning the big prize depending on the number of different tickets played.

In [66]:
def multi_ticket_probability(num):
    outcomes = combinations(49,6)
    probability = 100* (num/outcomes)
    return f'Your chances of winning are {probability}%.'

In [67]:
multi_ticket_probability(1)

'Your chances of winning are 7.151123842018516e-06%.'

In [70]:
list = [1, 10, 100, 10000, 1000000, 6991908, 13983816]
for x in list:
    print(multi_ticket_probability(x)) #We input the number of tickets we wish to play and the chances of winning.

Your chances of winning are 7.151123842018516e-06%.
Your chances of winning are 7.151123842018517e-05%.
Your chances of winning are 0.0007151123842018516%.
Your chances of winning are 0.07151123842018516%.
Your chances of winning are 7.151123842018517%.
Your chances of winning are 50.0%.
Your chances of winning are 100.0%.

#### Function for Less Winning Numbers <a class='anchor' id='7'></a>

We're going to write one more function to allow the users to calculate probabilities for two, three, four, or five winning numbers

Inside the app, the user inputs:
- six different numbers from 1 to 49; and
- an integer between 2 and 5 that represents the number of winning numbers expected

Our function prints information about the probability of having the inputted number of winning numbers.

In [87]:
def probability_less_6(n):
    total_outcomes = combinations(49,6)
    combos = combinations(6,n)
    success = combos*(combinations(43,(6-n)))
    probability = 100*(success / total_outcomes)
    simp = round(100 / probability)
    print(f'Your have 1 in {simp:,} chances of winning.')
    return f'Your probability of winning is {probability}%.'

In [88]:
list = [2,3,4,5] #We try out function with 2-5 winning numbers
for x in list:
    print(probability_less_6(x))

Your have 1 in 8 chances of winning.
Your probability of winning is 13.237802900152577%.
Your have 1 in 57 chances of winning.
Your probability of winning is 1.7650403866870101%.
Your have 1 in 1,032 chances of winning.
Your probability of winning is 0.0968619724401408%.
Your have 1 in 54,201 chances of winning.
Your probability of winning is 0.0018449899512407771%.

#### Function for At Least Winning <a class='anchor' id='8'></a>

We will write function for probability of at least certain amount of numbers, including those combinations before.

In [93]:
def probability_at_least(n):
    total_outcomes = combinations(49,6)
    if n == 6:
        return 1/total_outcomes
    else:
        combos = combinations(6,n)
        success = combos*(combinations(43,(6-n)))
        probability = 100*(success / total_outcomes)
        return probability + probability_at_least(n+1)

def prob_at_least(n):
    probability = probability_at_least(n)
    simp = round(100 / probability)
    print(f'Your have 1 in {simp:,} chances of winning.')
    print(f'Your probability of winning is {probability}%.')

In [94]:
list = [2,3,4,5] #We try out function with 2-5 winning numbers
for x in list:
    print(prob_at_least(x))

Your have 1 in 7 chances of winning.
Your probability of winning is 15.101550320742207%.
None
Your have 1 in 54 chances of winning.
Your probability of winning is 1.86374742058963%.
None
Your have 1 in 1,013 chances of winning.
Your probability of winning is 0.09870703390262%.
None
Your have 1 in 54,199 chances of winning.
Your probability of winning is 0.0018450614624791974%.
None

#### Conclusion <a class='anchor' id='9'></a>

In this project, we learn that the chances of winning the lottery is extremely small. The chances of winning just 2 numbers is 1 in 7.